<h1>Stupid Coaching</h1>

<div class="question">
  <p><%=@question%></p>
 <i><p>-You</p></i>
</div>

<div class="answer">
  <p><%=@answer%></p>
  <i><p>-Your coach</p></i>
</div>


<p class= "backlink"><%= link_to "Ask a new question", ask_path %></p>
